.icon {
  font-size: 1.7rem;
  cursor: pointer;
  color: var(--primary-color);
}

.item h2 {
  font-size:48px;
 
}

.loremDate {
  font: 400;
  color: var(--second-color);
  margin-top: 0;
  font-size: 12px;
}

.stars i {
  color: var(--third-color);
  font-size: 1.3rem;
}

.long-p {
  font-size: 20px;
  margin-top: 1.8rem;
  margin-bottom: 1.3rem;
  line-height: 1.8rem;
}

.btn-app {
  border-radius: 1.4rem;
  background-color: var(--primary-color);
  margin-top: 0.7rem;
  padding: 0.5rem 2rem;
  font-size: 16px;
  border: 2px solid var(--primary-color);
}

.icons {
  color: #292d32;
  font-size: 14px;
  margin-left: 5px;
}
.stars i {
  font-size: 1.4rem;
  margin-right: 2px;
  color: var(--primary-color); 
}

body.dark-mode .stars {
  color: var(--primary-color) !important;
}

.btn-app:hover {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.details {
  position: relative;
  /* min-height: 70vh; */
  margin-top: -5rem;   /* زي ما طلبتي */
  padding-top: 0;      /* ملغين الـ padding-top */
}

.details .overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.hight4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem ;
  gap: 1rem;
}
.loading-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  position: absolute;
  top: 40%;
  left: 40%;
}


@media (max-width: 1400px) and (min-width: 994px) {
  .img-res {
    width: 98%;
  }
  .long-p {
    font-size: 20px;
  }
}
