@if (movie?.poster_path) {
<section
  class="details"
  *ngIf="movie"
  [ngStyle]="{
    'background-image': movie.backdrop_path
      ? 'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'
      : 'url(assets/not_found.png)',
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat'
  }"
>
  <div class="overlay">
    <div class="container py-5">
      <div class="row mt-5">
        <div class="col-md-4 mt-4">
          <img
            [src]="movie.poster_path ? getPoster(movie) : 'assets/not_found.png'"
            [alt]="movie.title"
            class="img-fluid rounded shadow-lg"
          />
        </div>

        <div class="col-md-8 item text-light mt-5">
          <h2>{{ movie.title }}</h2>
          <p class="loremDate">{{ movie.release_date | date : 'longDate' }}</p>
          <div class="stars mt-3" *ngIf="movie?.vote_average">
            <i class="fa-solid fa-star text-warning" *ngFor="let _ of fillStar"></i>

            <i class="fa-solid fa-star-half-stroke text-warning" *ngIf="halfStar"></i>

            <i class="fa-regular fa-star text-warning" *ngFor="let _ of emptyStar"></i>
          </div>
          <div class="long-p">
            <p>{{ movie.overview }}</p>
          </div>

          <!-- بيانات إضافية -->
          <div class="d-flex flex-wrap gap-4 mt-4">
            <div class="d-flex gap-2">
              <h6>Duration:</h6>
              <p>{{ movie.runtime }} Min</p>
            </div>
            <div class="d-flex gap-2">
              <h6>Language:</h6>
              <p>{{ movie.original_language | uppercase }}</p>
            </div>
            <div class="d-flex gap-2" *ngIf="movie.vote_average">
              <h6>Rating:</h6>
              <p>{{ movie.vote_average | number : '1.1-1' }}/10</p>
            </div>
            <div class="d-flex gap-2" *ngIf="movie.genres?.length">
              <h6>Genres:</h6>
              <p>
                <span *ngFor="let g of movie.genres; let last = last">
                  {{ g.name }}<span *ngIf="!last">, </span>
                </span>
              </p>
            </div>
          </div>

          <!-- زرار الموقع الرسمي -->
          <button
            *ngIf="movie.homepage"
            class="btn btn-outline-light mt-4"
            (click)="openWebsite(movie.homepage)"
          >
            Website <i class="fa-solid fa-link ms-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="recommendations container my-5">
  <h2 class="my-5">Recommendations</h2>
  <div class="row g-4 mb-5">
    <div class="col-6 col-md-4 col-lg-2" *ngFor="let m of movies">
      <app-movie-card [movie]="m"></app-movie-card>
    </div>
  </div>
</section>
} @else {
<div class="hight4">
  <img src="assets/noMovie.png" alt="noMovie" class="mt-5" />
  <h4>Movie Not Found</h4>
  <button class="btn btn-warning px-5" routerLink="">Back to Home</button>
</div>

}
