
<form class="m-auto d-flex" style=" width: 50%; background-color: beige;">
  <div class="image w-50 ">
    <img class="w-100 h-100 " src="2.jpg" alt="login page" />
  </div>
  <div class="loginForm m-auto w-100 p-4 " >
    <div class="headtitle mb-2 m-4 p-1">
        <h3 >Create New Account,</h3>
        <p>start watching new Movies Now!</p>
    </div>

    <div class="ms-4 me-5 mb-3">
      <label for="exampleInputEmail1">Username</label>
      <input
        type="email"
        placeholder="Enter your Username"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="ms-4 me-5">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Enter your password"
      />
    </div>
 












    <br>
    <div class="loginBtn ms-4 me-5">
      <button type="submit" class="btn btn-warning  w-100">Sign Up</button><br /><br />
    </div>

    <div id="emailHelp" class="form-text ms-4 text-center">
      Do you have an account? <a style="color: orange" routerLink="../login">Sign in</a>
    </div>
  </div>
</form>










<!-- <form class="w-50 m-auto p-5 border">

    <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Full Name</label>
        <input type="username" class="form-control" id="exampleInputusername1" aria-describedby="username">
    </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Retype Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Stay Logged In</label>
  </div>
   <div id="emailHelp" class="form-text">if you have an account <a routerLink="../login">Login</a></div><br><br>
  <button type="submit" class="btn btn-warning">Create An account   </button>
</form> -->