<div class="container">
  <form (ngSubmit)="register()" class="m-auto shadow row">
  <div class="image col-md-6">
    <img  src="8.jpg" alt="login page" />
  </div>
  <div class="loginForm m-auto col-md-6 p-4">
    <div class="headtitle mb-2 m-4 p-1">
      <h3>Create New Account,</h3>
      <p>start watching new Movies Now!</p>
    </div>
    <!-- name -->
    <div class="ms-4 me-5 mb-3 form-floating">
     
      <input type="name" placeholder="Enter your Name" [(ngModel)]="client.name" class="form-control" id="name" name="name" />
     <label for="name">Full name</label>
    </div>
<!-- username -->
    <div class="ms-4 me-5 mb-3 form-floating">
     
      <input
        type="text"
        placeholder="Enter your Username"
        class="form-control"
        id="Username"
        name="username" [(ngModel)]="client.username"
      />
       <label for="Username">Username</label>
    </div>
<!-- email -->
    <div class="ms-4 me-5 mb-3 form-floating">
    
      <input type="email" placeholder="Enter your Email" class="form-control" id="email" 
      name="email" [(ngModel)]="client.email"
      />
        <label for="email">Email</label>
    </div>
<!-- password -->
    <div class="ms-4 me-5 form-floating">
    
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter your password"
        name="password" [(ngModel)]="client.password"
      />  <label for="password">Password</label>
    </div>

    <br />
    <div class="loginBtn ms-4 me-5">
      <button type="submit" class="btn btn-warning w-100">Sign Up</button><br /><br />
    </div>

    <div id="emailHelp" class="form-text ms-4 text-center">
      Do you have an account? <a style="color: orange" routerLink="../login">Sign in</a>
    </div>
  </div>
</form>
</div>