<div class="wishlist-container">
  <div class="container">
    <h1 class="page-title">Watch list</h1>

   <div *ngIf="isLoading" class="text-center py-5">
      <div class="loading-spinner mb-3"></div>
      <p class="mt-3 text-muted">Loading your watchlist</p>
    </div>


    <div *ngIf="!isLoading && movies.length === 0" class="text-center py-5">
      <div class="hight4">
        <img src="assets/noMovie.png" alt="noMovie" class="mt-5" />
        <h4>No Movies in watch list</h4>
        <button class="btn btn-warning px-5" routerLink="">Back to Home</button>
      </div>
    </div>

    <div class="card-grid" *ngIf="!isLoading && movies.length > 0">
      <div class="card" *ngFor="let movie of movies">
        <div class="card-content">
          <img
            [src]="baseBosterUrl + movie.poster_path"
            alt="{{ movie.title }} Poster"
            class="card-img"
            loading="lazy"
            (click)="navigatetoMovieDetails(movie.id)"
          />
          <div class="card-body">
            <div class="title-header">
              <h3 class="card-title">{{ movie.title }}</h3>
              <span class="favorite-btn" (click)="heartTrigger(movie)"><i class="bi bi-heart-fill"></i></span>
            </div>
            <p class="release-date">{{ movie.release_date | date }}</p>
            <div class="star-rating">
              <span
                *ngFor="let star of getStarArray(movie.vote_average)"
                class="bi"
                [ngClass]="{
                  'bi-star-fill': star === 'full',
                  'bi-star-half': star === 'half',
                  'bi-star': star === 'empty'
                }"
              >
              </span>
              <span class="rating-value">{{ movie.vote_average }}</span>
            </div>
            <p class="card-text">{{ movie.overview | slice:0:120}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
