<div class="card">
  <div class="card-body d-flex align-items-center p-3">
    <div class="me-2">
      <img
        src="https://resizing.flixster.com/XVBntUgLP4aJ3zx4_54o5kcM4Ys=/206x305/v2/https://resizing.flixster.com/zXDukKJ3xDGnzZ3JVoyr-u9uyYk=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzL2E3NGI4Yzk1LTZjZjYtNGE4NS04YjkxLWI0MTAyMzQxOTBlNS53ZWJw"
        alt="Movie Poster"
        style="width: 100px; height: 150px; object-fit: cover"
      />
      <!-- <span class="badge bg-primary text-white position-absolute top-0 start-0 m-2">BORN LEADER</span> -->
    </div>
    <div>
      <h5 class="card-title mb-1">Black Widow</h5>
      <h6 class="card-subtitle mb-1 text-muted">Sep 25, 2017</h6>
      <div class="star-rating mb-1">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <span class="ms-1 text-muted">9288</span>
      </div>
      <p class="card-text">
        Natasha Romanoff, also known as Black Widow, confronts the darker parts of her ledger when a
        dangerous conspiracy with ties to her past arises. Pursued by...
      </p>
      <span class="badge bg-warning text-dark position-absolute top-0 end-0 m-2"
        ><i class="bi bi-heart-fill"></i
      ></span>
    </div>
  </div>
</div>
