 .hero-section {
      height: 70vh; 
      position: relative;
      display: flex;
      background-image: url("/assets/1.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
    }
    .hero-section::before {
      content: "";
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0, 0, 0, 0.5);
    }

    .hero-content {
      position: relative;
      z-index: 1;
    }
    .movie-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  height: 390px;
}

.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.rating {
  position: absolute;
  left: 15px;
  top: 280px; 
  transform: translateY(-50%); 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #111;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #28a745;
  z-index: 2;
}

.card-body {    
    margin-top: .625rem;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.btn-dots {
  background-color: rgba(0, 0, 0, 0.5); /* شفاف */
  border: none;
  color: white !important;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s, background-color 0.2s;
  background-color: transparent; /* مفيش خلفية أصلاً */
  border: none; /* مفيش حدود */
  z-index: 10;
}
.favorite i {
  color: yellow; /* اللون الافتراضي */
  transition: color 0.2s;
}




    .card-body {
      padding: 15px;
      position: relative;
      z-index: 1;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .date {
      font-size: 13px;
      color: #6c757d;
    }
 






   