<div class="card border-0 movie-card">
  <div class="position-relative">
    <img [src]="getPoster(movie)" class="card-img rounded-4" alt="Movie Poster" />

    <!-- Rating Circle -->
    <div class="rating-circle">
      <span>{{ movie.vote_average | number : '1.1-1' }}</span>
    </div>

    <!-- 3 dots -->
    <div class="position-absolute top-0 end-0 m-2">
      <button class="btn-dots rounded-circle">
        <i class="bi bi-three-dots"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <h3 class="card-title">{{ movie.title }}</h3>
    <div class="d-flex justify-content-between">
      <p class="card-text my-auto">
        {{ movie.release_date | date : 'mediumDate' }}
      </p>
      <a (click)="toggleFavorite()" style="cursor: pointer"
        ><i
          [ngClass]="
            isFavorite
              ? 'fa-solid fa-heart text-warning h4 my-auto'
              : 'fa-regular fa-heart text-warning h4 my-auto'
          "
        ></i
      ></a>
    </div>
  </div>
</div>
