.movie-card img {
  border-radius: 12px;
  object-fit: cover;
  height: 280px;
  cursor: pointer;
}

.shadowcard {
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.411);
}

/* Rating Circle Component */
.circle {
  position: absolute;
  bottom: -18px;
  left: 10px;
  z-index: 2;
}

/* 3 dots btn */
.btn-dots {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white !important;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dots:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Title */
.card-title {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
