.movie-card img {
  border-radius: 10px;
}

.rating-circle {
  position: absolute;
  bottom: -15px;
  left: 10px;
  background: black;
  border-radius: 50%;
  border: 3px solid #1db954; /* أخضر زي اللي في الصورة */
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #1db954;
  font-size: 14px;
  --progress: 0;
}
.rating-circle span {
  position: absolute;
  color: white;
}

.bi-heart,
.bi-heart-fill {
  color: black;
  cursor: pointer;
  transition: color 0.2s ease;
}

.bi-heart:hover,
.bi-heart-fill:hover {
  color: yellow;
}

.btn-dots {
  background-color: rgba(0, 0, 0, 0.5); /* شفاف */
  border: none;
  color: white !important;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dots i {
  font-size: 18px;
  line-height: 1;
}

.btn-dots:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.card-title {
  font-weight: bold;
}
