<div class="container">
  <!-- Search Box -->
  <div class="d-flex my-4">
    <input
      class="form-control me-2 search-input"
      type="search"
      placeholder="Search..."
      aria-label="Search"
    />
    <button type="submit" class="btn btn-warning search-btn">Search</button>
  </div>

  <!-- Results -->
  <span class="search-result mb-4"
    >Search Result for: <span class="search-keyword">Batman</span></span
  >

  <div class="row">
    <div class=" col-md-12 col-lg-12 mb-4" >
      <app-movie-card ></app-movie-card>
    </div>
  </div>
</div>
