<div class="container">
  <!-- Search Box -->
  <div class="d-flex my-4">
    <input
      class="form-control me-2 search-input"
      type="search"
      placeholder="Search..."
      aria-label="Search"
    />
    <button type="submit" class="btn btn-warning search-btn">Search</button>
  </div>

  <!-- Results -->
  <span class="search-result mb-4"
    >Search Result for: <span class="search-keyword">Batman</span></span
  >
  <div class="row">
    <!-- Card 1 -->
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/qJ2tW6WMUDux911r6m7haRef0WH.jpg"
            class="card-img-top rounded"
            alt="The Dark Knight"
          />

          <!-- Rating Circle -->
          <div class="rating-circle" style="--progress: 70">
            <span>70%</span>
          </div>

          <!-- 3 dots -->
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>

    <!--card 3-->
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <div class="card movie-card border-0">
        <div class="position-relative">
          <img
            src="https://image.tmdb.org/t/p/w500/1hRoyzDtpgMU7Dz4JF22RANzQO7.jpg"
            class="card-img-top rounded"
            alt="Interstellar"
          />
          <div class="rating-circle" style="--progress: 85">
            <span>85%</span>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <button class="btn btn-dots rounded-circle">
              <i class="bi bi-three-dots fs-5 fw-bold"></i>
            </button>
          </div>
        </div>

        <div class="card-body p-4">
          <h6 class="card-title mb-1 fw-bold">The Dark Knight</h6>

          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted small mb-0">Jul 18, 2008</p>
            <i class="bi bi-heart fs-5"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
