<div class="container">
  <div class="d-flex my-4">
    <input
      type="search"
      [(ngModel)]="searchQuery"
      class="form-control me-2"
      placeholder="Search..."
      aria-label="Search"
      (keydown.enter)="search()"
    />
    <button type="submit" class="btn btn-warning col-1" (click)="search()">Search</button>
  </div>

  @if(searchedQuery === '') {

  } @else if (searchedQuery && searchResult.length === 0) {
  <h2 class="text-center">No Result Found</h2>
  } @else {
  <span class="fw-bold">Search results for: </span>
  <span>{{ searchedQuery }}</span>

  <div class="row">
    @for (movie of searchResult; track $index) {
    <div class="col-6 col-md-4 col-lg-2 mb-4">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
    }
  </div>
  }
</div>
